/* main,
footer {
  padding-left: 50px;
  padding-right: 50px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #23272a !important;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

main {
  margin-bottom: 1rem;
}

html {
  height: 100vh;
}

.navbar-item img {
  max-height: 3.75rem;
}

a.has-text-info:hover,
a.navbar-item:visited,
a.navbar-item {
  color: #ffffff !important;
}
.navbar-menu {
  background-color: #2f3136 !important;
}

a.navbar-item:hover {
  background-color: silver !important;
}

a.navbar-item.is-active {
  background-color: gray !important;
}

a.navbar-item.is-active:hover {
  background-color: silver !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
b,
u,
li {
  color: #ffffff !important;
}

a {
  color: #7289da !important;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  padding-bottom: 0.25rem;
  padding-top: 0.75rem;
  background-color: #2f3136;
}

.center {
  text-align: center;
}

.columns:not(:last-child) {
  margin-bottom: 0 !important;
}

.no-content {
  text-align: center;
  font-size: 2rem;
  margin-top: 30vh;
  color: #ffffff;
}

.subtitle-key {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  word-break: break-word;
}

.ready {
  color: #43b581;
}

.connecting {
  color: #faa61a;
}

.resuming {
  color: #faa61a;
}

.handshaking {
  color: #faa61a;
}

.disconnected {
  color: #f04747;
}

.key-item {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.grid-item {
  width: 55px;
  height: 55px;
  background-color: #2c2f33;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  font-weight: 500;
  border-radius: 3px;
}

.section {
  padding: 3rem 1.5rem;
}

.subtitle:not(:last-child) {
  margin-bottom: 1rem;
}

.header {
  font-weight: 600;
  line-height: 1.125;
  font-size: 2rem !important;
}

.header:not(:last-child) {
  margin-bottom: 1.5rem;
}

.table {
  color: #ffffff !important;
  border: 1px solid #23272a;
}

tr,
td,
th {
  border: none !important;
}

.table thead {
  background-color: #343a40;
}

.table thead th {
  color: #ffffff !important;
}

table.table tr:hover td {
  background-color: #adafae;
}

.table tbody {
  background-color: #3e444a;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #343a40;
}

.table tr {
  color: #ffffff !important;
}

.widget {
  border: 1px solid #99aab5;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #3e4146;
} */

footer p {
  margin-top: 1rem;
}

footer {
  margin-top: 3rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #27afe3 !important;
}

.themetoggle .col {
  padding-left: 0;
  padding-right: 0;
}

.themetoggle {
  margin-right: 1rem;
}

.themeswitch-left {
  padding-right: 1rem !important;
}

.themeswitch-right {
  padding-left: 1rem !important;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  word-break: break-word;
  margin-bottom: 0;
}

.columns {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns:not(:last-child) {
  margin-bottom: 0.75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.no-content {
  text-align: center;
  font-size: 2rem;
  margin-top: 20vh;
}

.subtitle-key {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  word-break: break-word;
}

.ready {
  color: #43b581;
}

.connecting {
  color: #faa61a;
}

.resuming {
  color: #faa61a;
}

.handshaking {
  color: #faa61a;
}

.disconnected {
  color: #f04747;
}

.key-item {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.grid-item {
  width: 55px !important;
  height: 55px !important;
  background-color: #2c2f33;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  font-weight: 500;
  border-radius: 3px;
}

.grid-item p {
  margin-top: 30%;
}

.section {
  padding: 3rem 1.5rem;
}

.header {
  font-weight: 600;
  line-height: 1.125;
  font-size: 2rem !important;
}

.header:not(:last-child) {
  margin-bottom: 1.5rem;
}

.row:not(:last-child) {
  margin-bottom: 2rem;
}

.status-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5rem;
}

.status-container {
  margin-bottom: 3rem;
}

.not-found {
  margin-top: 30vh;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.leaderboard-nav {
  background-color: #4a4c52;
  height: 4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 1.5rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.leaderboard-nav .btn {
  height: inherit;
  width: inherit;
  background-color: #303030;
  color: rgb(255, 255, 255);
}

.leaderboard-nav .btn-first {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.leaderboard-nav .btn-last {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.leaderboard-section {
  height: inherit;
  border-radius: 1.5rem;
}

.leaderboard-section:not(:last-child) {
  margin-right: 0.1rem !important;
}

.leaderboard-section,
.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.leaderboardnav-active {
  background-color: #0096d1 !important;
}

.jumbotron,
h1,
.h1 {
  font-size: 1.4rem;
}

.patron-plus {
  color: #ad1457;
}

.patron {
  color: #e91e63;
}

ul {
  list-style-type: none;
}

footer .text {
  font-size: 12px;
}

footer .copy {
  font-size: 14px;
}

.donor-paypal {
  color: #0079c1;
}

.donor-mc {
  color: #5b8731;
}

.privacyp {
  line-height: 1.8;
  margin: 0 0 1.4rem 0;
}

.jumbotron {
  padding: 2rem 1rem !important;
}

@media (min-width: 992px) {
  .uas {
    float: left;
    margin-top: 5%;
  }
}

.nav-item {
  /* border: solid 1px black; */
  padding: 0.5rem 0 0.5rem 0;
}

.nav-item:hover {
  background-color: #3f6791;
}

.navbar {
  padding: 0 1rem !important;
}

.dropdown-toggle::after {
  margin-top: 0.5rem !important;
}
